/*LOGO*/

.aui-header .aui-header-logo img {
    border: 0;
    float: left;
    max-height: 25px;
    padding: 5px 0;
}


/*REGISTRATION*/

.aui-page-panel {
    width: 800px;
    margin: 50px auto 0;
    min-height: auto;
    border-radius: 5px;
    border-width: 1px;
}

.setup-account-view-container h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.jira-setup-account-description {
    margin-bottom: 20px;
}

.jira-setup-account-contents {
    margin-bottom: 20px;
}

form.aui .buttons-container.jira-setup-form-with-no-fields {
    text-align: right;
}

form.aui .buttons-container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.message-success {
    clear: both;
    color: #14892c;
    display: block;
    margin: 5px 0 0 0;
}

form.aui .field-group .error {
    width: 40%;
    clear: none;
}


/*LOGIN*/

.indra-one-wide {
    max-width: 320px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*FORGOT*/

.page-type-message .aui-page-panel {
    min-width: 400px;
    max-width: 400px;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*MANAGE SETTINGS*/


.manage-account {
    width: 100%;
}

.avatar-panel {
    border-left: 1px solid #ccc;
}

.aui-avatar {
    box-sizing: border-box;
    display: block;
    vertical-align: text-bottom;
}

/*DASHBOARD*/

#dashboard-content>.aui-page-header {
    padding: 20px;
    overflow: hidden;
}

.layout {
    clear: both;
    padding: 0 20px 20px 20px;
    position: relative;
}

.layout-aa .column {
    width: 47.5%;
}

.layout .column {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 0 -1.5em 2%;
    min-height: 200px;
    padding: 0;
    position: relative;
}

.layout .column .gadget {
    background: transparent;
    border: 1px solid transparent;
    border-left: 0;
    border-right: 0;
    padding: 0 1px 0 1px;
    display: block;
    width: auto;
}

